docs/external/DepositResponse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Jan Wilmaers (Belgian Post Group) -->
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Tim Ducheyne (NA) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by DoMyMove (Domymove S.A.) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="BooleanType">
		<xs:annotation>
			<xs:documentation>Enumeration type for boolean attributes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation>Enumeration type for language attributes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="fr"/>
			<xs:enumeration value="nl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeqType">
		<xs:annotation>
			<xs:documentation>Type for sequence attributes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:complexType name="DepositType">
		<xs:annotation>
			<xs:documentation>Type for Deposit actions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="StatusType"/>
			<xs:element name="CustomerRefs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerRef" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="key" use="required">
									<xs:annotation>
										<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="250"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="value" use="required">
									<xs:annotation>
										<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="250"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Replies" type="RepliesType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="seq" type="SeqType" use="required">
			<xs:annotation>
				<xs:documentation>A sequence number identifying the response within the file.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="depositIdentifier" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="depositIdentifierType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="depositRef"/>
					<xs:enumeration value="tmpDepositNr"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DepositResponse">
		<xs:annotation>
			<xs:documentation>Root tag for deposit response files</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Context">
					<xs:annotation>
						<xs:documentation>Tag provided for technical communication.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="requestName" use="required" fixed="DepositResponse">
							<xs:annotation>
								<xs:documentation>A constant identifying the request.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="dataset" use="required" fixed="M004_MPA">
							<xs:annotation>
								<xs:documentation>Required by the File Handling System.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="sender" use="required" fixed="EMP">
							<xs:annotation>
								<xs:documentation>Required by the File Handling System.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="receiver" type="xs:positiveInteger" use="required">
							<xs:annotation>
								<xs:documentation>Customer identifier. Must match the CCCCCCCC part in the file name.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="version" use="required" fixed="0100">
							<xs:annotation>
								<xs:documentation>The file version. Must match the file version in the file name.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Tag that contains global information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomerRefs" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustomerRef" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="key" use="required">
													<xs:annotation>
														<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="value" use="required">
													<xs:annotation>
														<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Files">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RequestProps">
											<xs:annotation>
												<xs:documentation>Request file properties</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="fileName" use="required">
													<xs:annotation>
														<xs:documentation>The name of the request file.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="customerFileRef" use="required">
													<xs:annotation>
														<xs:documentation>A customer reference related to this file.
Needs to match the NNNNNNNNNN field from the file name.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="customerId" type="xs:positiveInteger" use="required">
							<xs:annotation>
								<xs:documentation>Customer identifier. Must match the CCCCCCCC part in the file name.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Replies" type="RepliesType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Global errors that were detected in the request file (not specifically linked to an action)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="DepositCreate" type="DepositType">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit create</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepositUpdate" type="DepositType">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit update</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepositDelete" type="DepositType">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit delete</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepositValidate" type="DepositType">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit validate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepositGroupCreate">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit group create</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Status" type="StatusType"/>
								<xs:element name="CustomerRefs" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomerRef" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="key" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="value" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Replies" type="RepliesType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>In case of error in the group action or in one of the child actions, the replies will be stored in this tag.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:annotation>
										<xs:documentation>If no errors occured, each child action will have its own reply</xs:documentation>
									</xs:annotation>
									<xs:element name="DepositInGroupCreate" type="DepositType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>This tag contains the response of the deposit create belonging to a deposit group</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:sequence>
							<xs:attribute name="seq" type="SeqType" use="required">
								<xs:annotation>
									<xs:documentation>A sequence number identifying the response within the file.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifier" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifierType" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="depositGroupRef"/>
										<xs:enumeration value="tmpDepositGroupNr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="DepositGroupUpdate">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit group update</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Status" type="StatusType"/>
								<xs:element name="CustomerRefs" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomerRef" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="key" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="value" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Replies" type="RepliesType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>In case of error in the group action or in one of the child actions, the replies will be stored in this tag.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>If no errors occured, each child action will have its own reply</xs:documentation>
									</xs:annotation>
									<xs:element name="DepositInGroupCreate" type="DepositType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>This tag contains the response of the deposit create belonging to a deposit group</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepositInGroupDelete" type="DepositType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>This tag contains the response of the deposit delete belonging to a deposit group</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="seq" type="SeqType" use="required">
								<xs:annotation>
									<xs:documentation>A sequence number identifying the response within the file.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifier" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifierType" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="depositGroupRef"/>
										<xs:enumeration value="tmpDepositGroupNr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="DepositGroupDelete">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit group delete</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Status" type="StatusType"/>
								<xs:element name="CustomerRefs" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomerRef" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="key" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="value" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Replies" type="RepliesType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>In case of error in the group action or in one of the child actions, the replies will be stored in this tag.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:annotation>
										<xs:documentation>If no errors occured, each child action will have its own reply</xs:documentation>
									</xs:annotation>
									<xs:element name="DepositInGroupDelete" type="DepositType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>This tag contains the response of the deposit delete</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:sequence>
							<xs:attribute name="seq" type="SeqType" use="required">
								<xs:annotation>
									<xs:documentation>A sequence number identifying the response within the file.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifier" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifierType" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="depositGroupRef"/>
										<xs:enumeration value="tmpDepositGroupNr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="DepositGroupValidate">
						<xs:annotation>
							<xs:documentation>This tag contains the response of the deposit group validate</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Status" type="StatusType"/>
								<xs:element name="CustomerRefs" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomerRef" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Customer reference belonging to a file, this will be stored but ignored by De Post - La Poste</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="key" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="value" use="required">
														<xs:annotation>
															<xs:documentation>Ignored by De Post - La Poste</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Replies" type="RepliesType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>In case of error in the group action or in one of the child actions, the replies will be stored in this tag.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:annotation>
										<xs:documentation>If no errors occured, each child action will have its own reply</xs:documentation>
									</xs:annotation>
									<xs:element name="DepositInGroupValidate" type="DepositType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>This tag contains the response of the deposit validate</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:sequence>
							<xs:attribute name="seq" type="SeqType" use="required">
								<xs:annotation>
									<xs:documentation>A sequence number identifying the response within the file.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifier" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="depositGroupIdentifierType" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="depositGroupRef"/>
										<xs:enumeration value="tmpDepositGroupNr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LocationsType">
		<xs:sequence>
			<xs:element name="Location" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="tagName" use="required">
						<xs:annotation>
							<xs:documentation>Name of the tag to which to navigate to locate the error</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="attributeName" use="optional">
						<xs:annotation>
							<xs:documentation>Name of the attribute that identifies the unique key for the tag that is defined in the tagName attribute</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="attributeValue" use="optional">
						<xs:annotation>
							<xs:documentation>Value of the attribute identified by the attributeName attribute</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusType">
		<xs:attribute name="code" use="required">
			<xs:annotation>
				<xs:documentation>Status code</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RepliesType">
		<xs:sequence>
			<xs:element name="Reply" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="XPath" type="xs:string"/>
						<xs:element name="Locations" type="LocationsType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Location list identifying the place within the request where the error was found</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Messages">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Message" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Description" type="xs:string" minOccurs="0"/>
												<xs:element name="MessageContents" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="MessageContent" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:attributeGroup ref="KeyValueAttGroup"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="code" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="severity" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="FATAL"/>
														<xs:enumeration value="ERROR"/>
														<xs:enumeration value="WARN"/>
														<xs:enumeration value="INFO"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="seq" type="SeqType" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressValidationType">
		<xs:sequence>
			<xs:element name="Items">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Error">
										<xs:complexType>
											<xs:choice minOccurs="0">
												<xs:element name="Corrections" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Correction" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:attribute name="compCode" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="compValue" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="70"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="compCorrection" use="optional">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="70"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Alternatives" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Alternative" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Comps">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Comp" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:attribute name="code" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:length value="2"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="value" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="70"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
											<xs:attribute name="severity" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="ERROR"/>
														<xs:enumeration value="WARN"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="seq" type="SeqType" use="required">
									<xs:annotation>
										<xs:documentation>A sequence number identifying the item within the request.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="KeyValueAttGroup">
		<xs:attribute name="key" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
